[submodule "docs"]
	path = docs
	url = https://github.com/fenbrasil/docs
[submodule "fenixempire"]
	path = fenixempire
	url = https://github.com/fenbrasil/fenixempire
[submodule "lua_error_listener"]
	path = lua_error_listener
	url = https://github.com/fenbrasil/lua_error_listener
[submodule "fenbrasil"]
	path = fenbrasil
	url = https://github.com/fenbrasil/fenbrasil
